<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to edakia.com</h3>
    <p>
      You have received a new email from @sender, please download and print your attachment<br/>
    </p>
    <p>Thanks</p>
    <p>--eDakia Team</p>
    <p>All Rights Reserved </p>
  </body>
</html>
